.navbar-nav {
    padding-left: 4px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 8px;
    padding-right: 1rem;
    color: white
}

.navbar-nav a {
    color: white;
    list-style: none;
}

.navbar-nav a:hover {
    color: white;
    text-decoration: none;
}
/* 
.nav-bar {
    background-color: rgba(41, 48, 59, .8);
    background: radial-gradient(black, transparent);
    padding: 1rem 0;
} */

/* .navbar-light .navbar-nav .nav-link {
    color: white;
} */

.navbar-light .navbar-nav .nav-link:hover {
    color: #28a745;
}