.carousel_images img {
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.carousel_images li {
    display: none;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
}

@media (max-width: 12450px) {
    h1 {
        font-weight: 300;
        font-size: 10px;
    }
}