#input-field {
    max-width: 50rem;
    height: 3rem;
}

@media (min-width: 600px) {
    .formWrapper {
        display: flex;
        flex-flow: nowrap;
    }

    #input-field {
        min-width: 30rem;
        width: 100%;
    }
}